@import "variantes/colores";
@import "variantes/fuentes";
@import "variantes/mixins";
@import "layout/tipsFace";
@import "layout/tipsGads";
@import "layout/tipsIg";
@import "layout/index";
@import "layout/bootstrap";
@import "layout/articulos";
@import "variantes/operaciones";
@import "layout/login";
/*Tamaño fuente para TODO el documento*/
html{
    font-size: 16px;
}

/*Imagen de fondo de la web*/
body{
    background-color: $negro;
    background-image: url(/img/fondoweb2.jpg);
    
    p::selection{
        color:$negro;
            background-color: $amarillo;
        }  
}

/*Clase tamaño de logos de barra superior con bootstrap*/
.paraLogosDeMenuDos{
    width:$logo;
}

.paraLogosDeMenuDos__1{
    width: $logoVariante;
}
/*efecto zoom barra navegacion*/

.paraLogosDeMenuDos__1:hover{
    width: 40px;
    transition: width .3s;
}
