@charset "UTF-8";
/*Colores del branding de la marca*/
/*grid para la seccion Main*/
.clasesGridMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Space Mono", monospace, size 1rem;
  font-size: 1rem; }

.clasesGridMain .entrada {
  width: 480px;
  border-radius: 9px;
  box-shadow: 0 5px 7px #ec4187;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s;
  margin-left: 30px;
  margin-top: 30px;
  color: #245cea; }

.clasesGridMain .entrada:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px #245cea; }

.clasesGridMain .entrada a {
  font-weight: 400;
  text-decoration: none;
  color: #ececec; }

.clasesGridMain img {
  width: 450px;
  margin: 1rem; }

@media only screen and (max-width: 768px) {
  .clasesGridMain {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
  .clasesGridMain .entrada:first-child {
    margin: 0; } }

/*Contenedor del grid en el index y pagina tips Google Ads*/
.clasesGridMainGads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Space Mono", monospace, size 1rem;
  font-size: 1rem; }

.clasesGridMainGads .entradaGads {
  width: 480px;
  border-radius: 9px;
  box-shadow: 0 5px 7px #245cea;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s;
  margin-left: 30px;
  margin-top: 30px;
  color: #f6f423; }

.clasesGridMainGads .entradaGads:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px #f6f423; }

.clasesGridMainGads .entradaGads a {
  font-weight: 400;
  text-decoration: none;
  color: #ececec; }

.clasesGridMainGads img {
  width: 450px;
  margin: 1rem; }

/*Contenedor del grid en el index y pagina tips instagram*/
.clasesGridMainIg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Space Mono", monospace, size 1rem;
  font-size: 1rem; }

.clasesGridMainIg .entradaIg {
  width: 480px;
  border-radius: 9px;
  box-shadow: 0 5px 7px #245cea;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.2s;
  margin-left: 30px;
  margin-top: 30px;
  color: #ec4187; }

.clasesGridMainIg .entradaIg:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px #ec4187; }

.clasesGridMainIg .entradaIg a {
  font-weight: 400;
  text-decoration: none;
  color: #ececec; }

.clasesGridMainIg img {
  width: 450px;
  margin: 1rem; }

.clasesGridFooter_bootstrap p {
  margin-top: 20px; }

/*Fuente*/
.contenedorBootstrap {
  font-family: "Space Mono", monospace, size 1rem;
  font-size: 1rem; }

/*Color de Fuente*/
.contenedorBootstrapColor {
  font-family: "Space Mono", monospace, size 1rem;
  color: #dedee0;
  font-size: 0.8rem; }

/*para Cards de "quienes Somos"*/
.rotate-center {
  -webkit-animation: rotate-center 0.8s ease-in-out both;
  animation: rotate-center 0.8s ease-in-out both; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.articulo {
  font-size: 2rem;
  color: #09090b;
  background-color: #ec4187; }

/*Tamaño fuente para TODO el documento*/
html {
  font-size: 16px; }

/*Imagen de fondo de la web*/
body {
  background-color: #09090b;
  background-image: url(/img/fondoweb2.jpg); }
  body p::selection {
    color: #09090b;
    background-color: #f6f423; }

/*Clase tamaño de logos de barra superior con bootstrap*/
.paraLogosDeMenuDos {
  width: 3rem; }

.paraLogosDeMenuDos__1 {
  width: 1.9rem; }

/*efecto zoom barra navegacion*/
.paraLogosDeMenuDos__1:hover {
  width: 40px;
  transition: width .3s; }
