
/*Al seleccionar texto*/
p::selection{
    color: $negro;
    background-color: $amarillo;
}

/*Tamaño fuente para TODO el documeto*/

html{
    font-size: 16px;
}

/* div contenedor de contenido antes de footer en todos menos index*/

.montserratHeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color:#ec4187;
}

/*Fuente Montserrat para menu*/
.montserratNav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: red;
    text-decoration: none;
}


.spaceMono{
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 1rem;
}

/*Margenes y tamaño de LOGO CDM*/
.logo{
    width: 85px;
    margin-top: 15px;
    margin-left: 20px;
}

/*Imagen de fondo de la web*/
body{
    background-color: black;
    background-image: url(/img/fondoweb2.jpg)
}

/*margenes para los iconos del menu*/
.paraLogosDeMenu{
    width: 45px;
    margin-top: 20px;
}

a.nav-link:hover{
    color: #0f0f0f;
    background-color: #0f0f0f;
    }


/*margenes para el primer logo que da margen de altura*/
.paraLogosDeMenu__primerLogo{
    width: 45px;
    margin-top: 140px;
}


/*sin margen en el menu izquierzo y sin punto de las listas */
.sinPuntoLista{
    list-style: none;
    margin-left: 27px;
}


.fondo{
    background-image: url();
    background-repeat: repeat;
}

/*Propiedades de menu lateral*/
.cajaDeMenu{
    display: inline-block;
	height: 100vh;
	width: 100px;
    padding-right: 30px;
    float: left;
    background-color:#151516;
}

/*Para flotar el video*/
.flotandoVideo{
margin-left: 200px;
}

li{
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all ease-out 120ms;
}

/*Footer con Flex Box*/

.displayFlex{
    background-color:#151516;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
}

.Footer__copyrigth{
    flex-basis: 250px;
    flex-grow: 1;
}

.Footer__redes{
    flex-grow: 1;
    margin-left: 25px;
}

.Footer__legales{
    flex-grow: 1;
}


/*propiedades logos de footer*/
.logosFooter{
    width: 27px;
}

/*quitar color predeterminado link*/
a{
    color: gray;
}

/*efecto zoom barra navegacion*/

.paraLogosDeMenuDos__1:hover{
    width: 40px;
    transition: width .3s;
}


.paraLogosDeMenu:hover{
    width: 70px;
    transition: width .3s;
}

.paraLogosDeMenu__primerLogo:hover{
    width: 70px;
    transition: width .3s;
}


/*Estilo FORMULARIO*/

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:#0f0f0f;
    margin-left: 700px;
    margin-right: 600px;
    min-height: 92vh;
}

.flex-container p {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #ec4187;
    margin-top: 200px;
    background: rgb(227,225,0);
    background: -moz-linear-gradient(0deg, rgba(227,225,0,1) 7%, rgba(236,65,135,1) 25%, rgba(0,0,0,1) 44%);
    background: -webkit-linear-gradient(0deg, rgba(227,225,0,1) 7%, rgba(236,65,135,1) 25%, rgba(0,0,0,1) 44%);
    background: linear-gradient(0deg, rgba(227,225,0,1) 7%, rgba(236,65,135,1) 25%, rgba(0,0,0,1) 44%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e100",endColorstr="#000000",GradientType=1);
    margin-left: 60px;

}

.form{
    min-width: 400px;
    text-align: center;
    padding: 50px;
    margin-bottom: 250px;
    padding-bottom: 50px;
}

.form__input{
    width: 100%;
    padding: 7px;
    margin: 7px 0;
    border: none;
    border-bottom: 4px solid #ec4187;
    background: #dedee0;
}

.form_img{
    flex: 1;
}

.form_img img{
    width: 120%;
    display: flex;
    margin-bottom: 200px;
}

.form textarea{
    min-height: 240px;
    margin: auto;
} 

/*BOTON "enviar" animado*/
.roll-in-left {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	animation: roll-in-left 0.6s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    }
        @keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
            -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
            opacity: 1;
    }
    }



/****************************************************************/
/*Agregando GRID*/
/*Contenedor del grid en el index y pagina tips facebook*/

.gridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr 1fr 1fr 80px;
    grid-template-areas: 
    "header main aside"
    "header main aside"
    "header main aside"
    "header footer footer"

}
/*grid para header*/
.clasesGridHeader{
    background-color: #151516;
    list-style: none;
    grid-area: header
}

/*grid para la seccion Main*/
.clasesGridMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

.clasesGridMain .entrada{
    width: 480px;
    border-radius: 9px;
    box-shadow: 0 5px 7px #ec4187;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.2s;
    margin-left: 30px;
    margin-top: 30px;   
    color:#245cea
}

.clasesGridMain .entrada:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px #245cea;
}

.clasesGridMain .entrada a{
    font-weight: 400;
    text-decoration: none;
    color: #d8d8d0;
}

.clasesGridMain img{
    width: 450px;
    margin: 1rem;
}

/*grid para la seccion Footer*/
.clasesGridFooter{
    background-color:#151516;
    font-family: 'Space Mono', monospace;
    justify-self:stretch;
    color: gray;
    text-align: center;
    margin-top: 15px;
    grid-area: footer
}

.clasesGridFooter div{
    font-size: 1rem;
    display:inline-block;
}

.clasesGridFooter div:first-child{
    margin-right: 25rem;
    margin-left: -10rem;
}

.clasesGridFooter div:nth-child(3){
        margin-left: 24rem;
        list-style: none;
}


/*Responsive pagina facebook tips*/

@media only screen and (max-width: 768px){
    .clasesGridMain{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .clasesGridMain .entrada:first-child{
        margin: 0;
    }

}

/*Agregando GRID*/
/*Contenedor del grid en el index y pagina tips instagram*/

.clasesGridMainIg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

.clasesGridMainIg .entradaIg{
    width: 480px;
    border-radius: 9px;
    box-shadow: 0 5px 7px #245cea;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.2s;
    margin-left: 30px;
    margin-top: 30px;  
    color:#ec4187
}

.clasesGridMainIg .entradaIg:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px #ec4187;
}

.clasesGridMainIg .entradaIg a{
    font-weight: 400;
    text-decoration: none;
    color: #d8d8d0;
}

.clasesGridMainIg img{
    width: 450px;
    margin: 1rem;
}


/*Agregando GRID*/
/*Contenedor del grid en el index y pagina tips Google Ads*/

.clasesGridMainGads{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

.clasesGridMainGads .entradaGads{
    width: 480px;
    border-radius: 9px;
    box-shadow: 0 5px 7px #245cea;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.2s;
    margin-left: 30px;
    margin-top: 30px;   
    color:#f6f423; 
}

.clasesGridMainGads .entradaGads:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px #f6f423;
}

.clasesGridMainGads .entradaGads a{
    font-weight: 400;
    text-decoration: none;
    color: #d8d8d0;
}

.clasesGridMainGads img{
    width: 450px;
    margin: 1rem;
}

/* ------------------------- */
/* ------------------------- */
/*Aplicando Bootstrap*/

.clasesGridFooter_bootstrap p{
    margin-top: 20px;
}

/*Fuente*/
.contenedorBootstrap{
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

/*Color de Fuente*/
.contenedorBootstrapColor{
    font-family: 'Space Mono', monospace;
    color: #dedee0;
    font-size: 0.8rem;

}

/*Clase tamaño de logos de barra lateral con bootstrap*/
.paraLogosDeMenuDos{
    width:3rem;
}

.paraLogosDeMenuDos__1{
    width: 1.9rem;
}

/*para Cards de "quienes Somos"*/

.rotate-center {
	-webkit-animation: rotate-center 0.8s ease-in-out both;
	        animation: rotate-center 0.8s ease-in-out both;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
.text__bootstrap{
    font-size: 1.4rem;
    color: #0f0f0f;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

/*resaltado de texto fucsia*/

.text__bootstrap--resaltado{
    background-color: #ec4187;
}

/*MArgen de la caja de texto*/

.text__bootstrap__margin{
    margin-top: 5rem;
}